# Node.js related files
node_modules/
npm-debug.log
yarn-error.log

# Environment files (e.g., .env)
.env*.local

# macOS related files
.DS_Store

# Editor related files
.vscode/

# Log files
*.log
logs/
